'global':
  'exception-reporting':
    'userId': 'c9e80314-eee0-a3bb-2975-55fc840b2d24'
  'welcome':
    'showOnStartup': false
  'metrics':
    'userId': '8ec18aae5ecc8be2173270183c04622a68af4bfb'
  'tree-view':
    'showOnRightSide': true
  'editor':
    'showIndentGuide': true
    'scrollPastEnd': true
    'softWrap': true
    'fontSize': 15
    'invisibles': {}
  'core':
    'themes': [
      'yosemite-unity-ui'
      'base16-syntax'
    ]
    'disabledPackages': [
      'markdown-format'
      'minimap-git-diff'
      'script'
      'js2coffee'
    ]
  'base16-syntax':
    'scheme': 'Railscasts'
  'minimap':
    'plugins':
      'git-diff': true
      'color-highlight': true
  'terminal-status': {}
